<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Sample Sdk</title>

	<!-- Bootstrap core CSS -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="css/sample.css" rel="stylesheet">
	
	<!-- FontAWESOME -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>

<body>
	<div ng-app="easytv" ng-controller="myCtrl">
		<div id="player" >
			<div class="row">
				<div id="video-controls"  class="row justify-content-md-center">
					<div class="col-auto ">
						<button type="button" id="play-pause" ng-click="play()" ><i class="fas fa-play"></i></button>
						<button type="button" id="pause" ng-click="pause()" ><i class="fas fa-pause"></i></button>
						<button type="button" ng-click="toggleSlow()"  id="slow">
						  <i class="fas fa-anchor"></i>
						</button>
					</div>
					<div class="col">
						<input type="range" id="seek-bar" value="0">
					</div>
					<div class="col col-auto float-right">
						<button type="button" id="accesibility-settings" data-toggle="modal" data-target="#modalAccesibility"><i class="fas fa-universal-access"></i></button>
						<button type="button" id="cc-settings" data-toggle="modal" data-target="#modalClosedCaption" ><i class="fas fa-closed-captioning "></i></button>
					</div>
				</div>
			</div>
		</div><!-- end player-->
		<div class="modal fade" id="modalAccesibility" tabindex="-1" role="dialog" aria-labelledby="modalAccesibility" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" >Accesibility</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-check">
							<label class="switch">
								<input type="checkbox" name="imagenhacment" ng-model="options.enhancement.enabled" ng-change=";options.textDetection=false;">
								<span class="slider round"></span>
							</label>
							<span class="title">Image Enhancement</span>
							<div class="enhancment-options">
							<div class="form-check">
								<input class="form-check-input" type="radio" id="imageMagnification" name="options.enhancement.magnification.type" id="options.enhancement.magnification.type.magnification" ng-model="options.enhancement.magnification.type" value="magnification" checked >
								<label class="form-check-label" for="imageMagnification">
									Image magnification
								</label>
							</div>
							<div class="form-check">
								<input type="range" id="options.enhancement.magnification.scale" ng-model="options.enhancement.magnification.scale" value="2.5" min="1.5" max="3.5" step="0.1">
							</div>


							<div class="form-check">
								<input class="form-check-input" type="radio" id="faceDetection" name="options.enhancement.magnification.type" id="options.enhancement.magnification.type.faces" ng-model="options.enhancement.magnification.type" value="faces" >
								<label class="form-check-label" for="faceDetection">
									Face Detection
								</label>
							</div>
						</div>
						</div>
						
						<div class="form-check">
							<label class="switch">
							<input type="checkbox"  name="textDetection" ng-model="options.textDetection" ng-change="options.enhancement.enabled=false;">
							<span class="slider round"></span>
							</label>
							<span class="title">Text Detection</span>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button"  data-dismiss="modal">Close</button>
					</div>

				</div>
			</div>
		</div><!-- end accesibility modal box-->
		<div class="modal fade" id="modalClosedCaption" tabindex="-1" role="dialog" aria-labelledby="modalClosedCaption" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" >Closed Caption</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="pills-subtitles-tab" data-toggle="pill" data-target="#pills-subtitles" role="tab" aria-controls="pills-subtitles" aria-selected="true">Subtitles</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-custom-tab" data-toggle="pill" data-target="#pills-custom" role="tab" aria-controls="pills-custom" aria-selected="false">Customization</a>
							</li>
						</ul>
						<div class="tab-content" id="pills-tabContent">
							<div class="tab-pane fade show active" id="pills-subtitles" role="tabpanel" aria-labelledby="pills-subtitles-tab">
								<div class="form-check">
									<input class="form-check-input" type="radio" name="options.subtitles.language" id="disabled" ng-model="options.subtitles.language" value="disabled" >
									<label class="form-check-label" for="subtitles">
										Disabled
									</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" name="options.subtitles.language" id="english" ng-model="options.subtitles.language" value="en" >
									<label class="form-check-label" for="english">
										English
									</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" name="options.subtitles.language" id="spanish" ng-model="options.subtitles.language" value="es" >
									<label class="form-check-label" for="spanish">
										Spanish
									</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" name="options.subtitles.language" id="catalan" ng-model="options.subtitles.language" value="ca" >
									<label class="form-check-label" for="catalan">
										Catalan
									</label>
								</div>
							</div>
							<div class="tab-pane fade" id="pills-custom" role="tabpanel" aria-labelledby="pills-custom-tab">
								<div class="form-check ">
									<label class="form-check-label" for="font-size-bar" >
										Font Size
									</label>
									<br/>
									<input type="range" id="font-size-bar" min="10" max="100"  ng-model="options.subtitles.size" >
								</div>
								<div class="form-check ">
									<label class="form-check-label" for="font-color">
										Font Color
									</label>
									<br/>
									<input class="form-control"  colorpicker type="text" ng-model="options.subtitles.color"  ng-readonly="true"  id="font-color"/>
								</div>
								<div class="form-check ">
									<label class="form-check-label"  for="font-background-color">
										Background Color
									</label>
									<br/>
									<input class="form-control" colorpicker type="text" id="font-background-color" ng-model="options.subtitles.background"  ng-readonly="true"/>
								</div>
							</div>

							
						</div>
					</div>
					<div class="modal-footer">
						<button type="button"  data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div><!-- end closed caption modal box-->
	</div>
	<!--jQuery -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<!-- Bootstrap js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<!-- Angular js -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.6/angular.min.js

"></script>
	<!-- Dash js -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dashjs/2.8.0/dash.all.min.js"></script>
		<!-- Icons -->
	<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>

	<script type="text/javascript" src="js/sample.js"></script>

	<script type="text/javascript" src="../sdk.js"></script>

	<script>
	feather.replace()
	</script>

	</script>
</body>
</html>
