#player{
    position:absolute;
    background-color: #000;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow: hidden;

}
#player #video{
    width:100%;
    height:100%;
    display: block;
    background-color: #000;
    overflow: hidden;

}
#video-controls{
    margin:0;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    background-color: grey
  }

#seek-bar {
    width: 100%;
    vertical-align: middle;
}
.enhancment-options
{
  margin-left: 35px;
}